<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.patrykkwiatkowski.simplenotepad"
	android:installLocation="internalOnly" xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="7" android:versionName="2.0">
	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"></uses-sdk>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="NoteList" android:launchMode="singleTop"
			android:label="@string/activity_notelist">
		</activity>
		<activity android:name="NoteEditor"
			android:windowSoftInputMode="stateVisible|adjustResize"
			android:launchMode="singleTop" android:label="@string/activity_noteeditor">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="NoteViewer" android:launchMode="singleTop"
			android:label="@string/activity_noteviewer"></activity>
	</application>
</manifest>